## encoding: utf-8

<div>
	<div class="modal-header">
		<ul class="nav nav-tabs">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<li><a class="disabled">${caption}</a></li>
			
			<li class="active"><a href="#post-content-tab" data-toggle="tab"></a></li>
			<li><a href="post-preview-tab" data-toggle="tab"></a></li>
			<li><a href="post-syntax-tab" data-toggle="tab"></a></li>
		</ul>
	</div>
	
	${form(data) if data else form()}
	
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal">${_("Cancel")}</button>
		<button id="set-save" class="btn btn-primary">${_("Save")}</button>
	</div>
</div>

<div class="row row-offcanvas row-offcanvas-left" id="discuss">
	<div class="col-xs-3 col-sm-3 text-right media thumb-64">
		<div class="pull-right media-object text-center">
			<img src="//image.eveonline.com/Character/${web.user.character.id}_64.jpg" class="img-thumbnail img-circle">
		</div>
		<div class="media-body">
			<a href="/profile/${web.user.id}"><strong>${web.user.character.name}</strong></a><br>
			<small>right now</small>
		</div>
	</div>

	<div class="col-xs-9 col-sm-9">
		<div class="panel panel-default">
			<nav class="navbar navbar-default navbar-static-top">
				<div class="navbar-header">
					<span class="navbar-brand"><i class="fa fa-lg fa-comments"></i> Discuss</span>
				</div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="#comment-panel" data-toggle="tab"><i class="fa fa-pencil-square"></i> Write</a></li>
					<li><a id="trigger-preview" href="#preview-panel" data-toggle="tab"><i class="fa fa-check-square"></i> Preview</a></li>
					<li>
						<a id="trigger-preview" href="#style-panel" data-toggle="tab">
							<i class="fa fa-font"></i> Style Guide
						</a>
					</li>
				</ul>
				<button id="comment-submit" type="button" class="btn navbar-btn btn-primary navbar-right"><i class="fa fa-fw fa-check"></i> Start Discussion</button>
			</nav>

			<div class="tab-content">
				<form class="tab-pane fade in active panel-body" id="comment-panel" action="/${forum.short}/" method="post">
					<input id="thread-title" class="form-control" placeholder="Enter a title for your discussion." required autofocus>
					<textarea id="comment-message" class="form-control" placeholder="Leave a comment." rows="5"></textarea>
				</form>
				<div class="tab-pane fade" id="preview-panel">
					<div id="spinner"><i class="fa fa-5x fa-cog fa-spin"></i></div>
					<div class="content"></div>
				</div>
				<div class="tab-pane fade" id="style-panel" style="padding: 0;">
					<div class="content" style="padding: 0;">
						<%include file="brave.forums.template.syntax"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
