## encoding: utf-8

<%inherit file="brave.forums.template.master"/>
<%namespace name="f" file="brave.forums.template.filter"/>

<%block name="title">${forum.name}</%block>

<%block name="post">
    ${parent.post()}

    <script type="text/javascript" charset="utf-8">
        $(function(){
        
            $('a#trigger-preview').on('show.bs.tab', function(e) {
                $('#preview-panel .content').empty().hide();
                $('#preview-panel .spinner').show();
                
                $.post('/preview', {content: $('#comment-message').val()}, function(result) {
                    $('#preview-panel .content').html(result).show();
                    $('#preview-panel .spinner').hide();
                }, 'html');
            });
            
            $('#comment-submit').on('click', function(){
                if($('#thread-title').val() == ""){
                    alert("You must give your thread a title!")
                    $('#thread-title').focus();
                    return false;
                }
                $(this).addClass('disabled').attr('disabled', true);
                
                $.post($('#comment-panel').attr('action'), {title: $('#thread-title').val(), message: $('#comment-message').val()}, function(result){
                    if ( ! result.success ) {
                        if(result.message){
                          alert(result.message)
                        }
                        return;
                    }
                    
                    window.location = window.location.pathname + "/" + result.id;
                });
                
                return false;
            });
            
            $('#new-discussion').on('click', function(){
                var self = $(this);
                
                self.parent().toggleClass('active');
                $('#discuss').slideToggle(125);
                $('#thread-title').focus();
            });
            
            $('#mark-read').on('click', function(){
                $.post($('#mark-read').attr('data-action'), {}, function(result){
                    if ( ! result.success ) {
                        if(result.message){
                          alert(result.message)
                        }
                        return;
                    }
                    window.location = window.location;
                });
                return false;
            });
            
            $('.style-collapse').collapse();
            
            
            
            // Infini scrolling.
            
            var page = 4;
            
            // Basic version; no culling.
            $(window).on('scroll', function() {
                var target = $('.infini'),
                    offset = target.offset().top;
                
                if ( target.hasClass('active') ) return;
                
                if ( $(window).scrollTop() > $(document).height() - 2*$(window).height()) {
                    target.addClass('active');
                    page += 1;
                    
                    $.ajax({
                            url: window.location.pathname,
                            type: 'GET',
                            data: {page: page},
                            success: function(result) {
                                target.removeClass('active');
                                var parsed = $(result);
                                
                                if ( $('.empty', parsed).length ) {
                                    target.addClass('disabled');
                                    $(window).off('scroll');
                                    return;
                                }
                                
                                target.before(parsed);
                            }
                        });
                }
            });
            
        });
    </script>
</%block>

<%f:page title="${forum.name}" minor="${forum.summary}" />

% if web.user and (web.user.admin or forum.moderate in web.user.tags or not forum.write or forum.write in web.user.tags):
<div class="row row-offcanvas row-offcanvas-left" id="discuss">
    <div class="col-xs-3 col-sm-3 text-right media thumb-64">
        <div class="pull-right media-object text-center">
            <img src="//image.eveonline.com/Character/${web.user.character.id}_64.jpg" class="img-thumbnail img-circle">
        </div>
        <div class="media-body">
            <a href="/profile/${web.user.id}"><strong>${web.user.character.name}</strong></a><br>
            <small>right now</small>
        </div>
    </div>
    
    <div class="col-xs-9 col-sm-9">
        <div class="panel panel-default">
            <nav class="navbar navbar-default navbar-static-top">
                <div class="navbar-header">
                    <span class="navbar-brand"><i class="fa fa-lg fa-comments"></i> Discuss</span>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#comment-panel" data-toggle="tab"><i class="fa fa-pencil-square"></i> Write</a></li>
                    <li><a id="trigger-preview" href="#preview-panel" data-toggle="tab"><i class="fa fa-check-square"></i> Preview</a></li>
                    <li>
                        <a id="trigger-preview" href="#style-panel" data-toggle="tab">
                            <i class="fa fa-font"></i> Style Guide
                        </a>
                    </li>
                </ul>
                <button id="comment-submit" type="button" class="btn navbar-btn btn-primary navbar-right"><i class="fa fa-fw fa-check"></i> Post Discussion</button>
            </nav>

            <div class="tab-content">
                <form class="tab-pane fade in active panel-body" id="comment-panel" action="/${forum.short}/" method="post">
                    <input id="thread-title" class="form-control" placeholder="Enter a title for your discussion." required autofocus>
                    <textarea id="comment-message" class="form-control" placeholder="Leave a comment." rows="5"></textarea>
                </form>
                <div class="tab-pane fade" id="preview-panel">
                    <div id="spinner"><i class="fa fa-5x fa-cog fa-spin"></i></div>
                    <div class="content"></div>
                </div>
                <div class="tab-pane fade" id="style-panel" style="padding: 0;">
                    <div class="content" style="padding: 0;">
                        <%include file="brave.forums.template.syntax"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ul class="nav nav-pills pull-right">
    <li><a href="#" id="mark-read" data-action="/${forum.short}/read/"><i class="fa fa-lg fa-eye"></i>Mark Forum Read</a></li>
    <li><a href="#" id="new-discussion"><i class="fa fa-comments fa-lg"></i>Start Discussion</a></li>
</ul>
% endif

<%def name="threads(forum=None, results=None, page=1, limit=20)">
<ul class="list-group media-list clearfix">
    <% page = int(page); limit = int(limit) %>
    % if not results.skip((page-1) * limit).limit(limit).count():
    <li class="list-group-item">
        <h4 class="empty">No threads found.</h4>
    </li>
    % endif
    % for thread in results.skip((page-1) * limit).limit(limit):
    <a href="/${thread.forum.short}/${thread.id}" class="list-group-item media thread${' dim' if thread.flag.hidden else ''} ${'unread' if web.user and not web.user.is_thread_read(thread) else ''}">
        <img src="//image.eveonline.com/Character/${thread.oldest().creator.character.id}_64.jpg" class="pull-left media-object thumb-44">
        <div class="pull-right media-object hidden-xs text-center">
            <big>${thread.stat.views}</big><br><small>view${'' if thread.stat.views == 1 else 's'}</small>
        </div>
        % if thread.flag.locked:
        <div class="pull-right media-object hidden-xs text-center">
            <big><i class="fa fa-lock fa-lg"></i></big><br><small>locked</small>
        </div>
        % endif
        % if thread.stat.comments:
        <div class="pull-right media-object hidden-xs text-center">
            <big>${thread.stat.comments}</big><br><small>repl${'y' if thread.stat.comments == 1 else 'ies'}</small>
        </div>
        % endif
        % if thread.stat.uploads:
        <div class="pull-right media-object hidden-xs text-center">
            <big>${thread.stat.uploads}</big><br><small>upload${'' if thread.stat.uploads == 1 else 's'}</small>
        </div>
        % endif
        % if thread.stat.votes:
        <div class="pull-right media-object hidden-xs text-center">
            <big>${thread.stat.votes}</big><br><small>vote${'' if thread.stat.uploads == 1 else 's'}</small>
        </div>
        % endif
        <h4 class="list-group-item-heading">
            ${thread.title}
            <small>
                by ${thread.oldest().creator.character.name}
                <time class="relative" datetime="${thread.oldest().created |n,f.iso}">on ${thread.oldest().created |n,f.pretty}</time>
            </small>
        </h4>
        <div class="list-group-item-text">
            Last comment by ${thread.latest().creator.character.name} <time class="relative" datetime="${thread.latest().created |n,f.iso}">on ${thread.latest().created |n,f.pretty}</time>.
        </div>
    </a>
    % endfor
</ul>
</%def>

% if forum.threads.filter(flag__sticky=True).count():
<h4>Sticky Threads</h4>

${threads(forum, forum.threads.filter(flag__sticky=True))}
% endif


<h4>Discussion Threads</h4>

${threads(forum, forum.threads.filter(flag__sticky=False), page)}

<div class="infini">
    <i class="fa fa-4x fa-spin fa-spinner"></i>
    <i class="fa fa-4x fa-times text-muted"></i>
</div>
