## encoding: utf-8

<%inherit file="brave.forums.template.master"/>
<%namespace name="forum" file="brave.forums.template.forum"/>

<%block name="title">Dashboard</%block>

<div class="page-header">
    <h1>Home <small>A somewhat useful dashboard of supposedly relevant things.</small></h1>
</div>

% if web.user and True or not announcements.read or announcements.read in web.user.tags:
    <ul class="nav nav-pills pull-right">
        <li><a href="/ann/"><i class="fa fa-arrow-circle-o-right fa-lg"></i>View All Announcements</a></li>
    </ul>

    <h4>Latest Announcements</h4>

    ${forum.threads(announcements, announcements.threads, 1, 3)}

    % for title, forums in forum_categories:
        ${category(title, forums)}
    % endfor
% endif

<ul class="nav nav-pills pull-right">
    <li><a href="#"><i class="fa fa-cogs fa-lg"></i>Subscription Preferences</a></li>
</ul>

<h4>Your Subscriptions</h4>

<ul class="list-group media-list clearfix">
    <li class="list-group-item">
        <h5>Sorry, boss, but subscriptions have yet to be implemented.</h5>
    </li>
</ul>

<%def name="category(category_title, forums_list)">
    <%def name="stat(singular, plural, count)">
        <div class="pull-right media-object hidden-xs text-center">
            <big>${count}</big><br><small>${singular if count == 1 else plural}</small>
        </div>
    </%def>
    
    <h4>${category_title}</h4>
    <ul class="list-group media-list clearfix">
        % for forum_item in forums_list:
            <a href="/${forum_item.short}" class="list-group-item media thread">

                ${stat('thread', 'threads', forum_item.threads.count())}
                ${stat('comment', 'comments', forum_item.threads.sum('stat.comments'))}
                ${stat('view', 'views', forum_item.threads.sum('stat.views'))}

                <h4 class="list-group-item-heading">
                    ${forum_item.name}
                    <small>
                        ${forum_item.summary}
                    </small>
                </h4>
            </a>
        % endfor
    </ul>
</%def>