## encoding: utf-8

<%inherit file="brave.forums.template.master"/>
<%namespace name="f" file="brave.forums.template.filter"/>
<%namespace name="forum" file="brave.forums.template.forum"/>

<%block name="title">Dashboard</%block>
<%f:page title="Dashboard" minor="of somewhat useful and supposedly relevant things." />

% if announcements and announcements.count():
<ul class="nav nav-pills pull-right">
    <li><a href="/ann/"><i class="fa fa-arrow-circle-o-right fa-lg"></i>View All Announcements</a></li>
</ul>

<h4>Latest Announcement Threads</h4>
<%forum:threads results="${announcements}" limit="3" />
% endif


<h4>Your Active Discussions</h4>
<%forum:threads results="${activity}" limit="5" />


% for title, forums in forum_categories:
    <% if not forums.count(): continue %>
    ${category(title, forums)}
% endfor


<h4>Latest Discussions</h4>
<%forum:threads results="${latest}" limit="5" />

<h4>Top Voted Discussions <small>active in the last seven days.</small></h4>
<%forum:threads results="${voted}" limit="5" />


<ul class="nav nav-pills pull-right">
    <li><a href="#"><i class="fa fa-cogs fa-lg"></i>Subscription Preferences</a></li>
</ul>

<h4>Your Subscriptions</h4>

<ul class="list-group media-list clearfix">
    <li class="list-group-item">
        <h5>Sorry, boss, but subscriptions have yet to be implemented.</h5>
    </li>
</ul>


<%def name="category(category_title, forums_list)">
    <%def name="stat(singular, plural, count)">
        <div class="pull-right media-object hidden-xs text-center">
            <big>${int(count)}</big><br><small>${singular if count == 1 else plural}</small>
        </div>
    </%def>
    
    <h4>${category_title}</h4>
    <ul class="list-group media-list clearfix">
        % for forum_item in forums_list:
            <a href="/${forum_item.short}" class="list-group-item media thread">
                <i class="pull-left media-object fa fa-arrow-circle-o-right fa-3x dim"></i>
                
                ${stat('thread', 'threads', forum_item.threads.count())}
                ${stat('comment', 'comments', forum_item.threads.sum('stat.comments'))}
                ${stat('view', 'views', forum_item.threads.sum('stat.views'))}

                <h4 class="list-group-item-heading">
                    ${forum_item.name}
                    <small>
                        ${forum_item.summary}
                    </small>
                </h4>
                
                % if forum_item.threads.count():
                <% latest = forum_item.threads.first() %>
                <div class="list-group-item-text">
                    Last comment <time class="relative" datetime="${latest.comments[-1].created |n,f.iso}">${latest.comments[-1].created |n,f.pretty}</time> in ${latest.comments[0].creator.character.name}&apos;s thread “${latest.title}”.
                </div>
                % else:
                <div class="list-group-item-text">
                    No recorded activity.
                </div>
                % endif
            </a>
        % endfor
    </ul>
</%def>
