<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="/ico/favicon.png">
        
        <title>Overview — BRAVE Alliance Forums</title>
        
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
        <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <div id="wrap">
            <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="box-shadow: 1px 0px 5px rgba(0,0,0,0.35);">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">BRAVE Forums</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/">Home</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Official <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/ann/">Announcements</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/council/">BRAVE Council</a></li>
                                    <li><a href="/it/">Information Technology</a></li>
                                    <li class="divider"></li>
                                    <li class="dropdown-header">CCP — EVE Online</li>
                                    <li><a href="#">News</a></li>
                                    <li><a href="#">Developer Blogs</a></li>
                                    <li><a href="#">Patch Notes</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Community <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-header">General</li>
                                    <li><a href="/p/">Public</a></li>
                                    <li><a href="/a/">Alliance</a></li>
                                    <li><a href="/c/">Corporate</a></li>
                                    <li class="divider"></li>
                                    <li class="dropdown-header">Other</li>
                                    <li><a href="/b/">Random</a></li>
                                    <li><a href="/n/">News &amp; Media</a></li>
                                    <li><a href="/g/">Geekery</a></li>
                                    <li><a href="/z/">Meta</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Topic <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-header">BRAVE Dojo</li>
                                    <li><a href="/dg/">Guides</a></li>
                                    <li><a href="/ds/">Ship Fitting</a></li>
                                    <li class="divider"></li>
                                    <li class="dropdown-header">General</li>
                                    <li><a href="/pvp/">Player-vs-Player</a></li>
                                    <li><a href="/pve/">Player-vs-EVE</a></li>
                                    <li><a href="/m/">Mining</a></li>
                                    <li><a href="/i/">Industry &amp; Trade</a></li>
                                    <li><a href="/d/">DUST 514</a></li>
                                </ul>
                            </li>
                        </ul>
                    
                        <form class="form-inline navbar-form navbar-left" role="search">
                            <label for="rgsearch" class="sr-only">Search all forums:</label>
                            <input id="rgsearch" type="search" class="form-control" placeholder="Global search.">
                        </form>
                    
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Draleth <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </li>
                        </ul>
                        
                        <button type="button" class="btn btn-default navbar-btn navbar-right"><i class="fa fa-sign-in"></i> Authenticate</button>
                    </div>
                </div>
            </div>

            <div class="container" style="padding-top: 50px;">
                <!-- Begin Forum Index -->
                <div class="page-header">
                    <h1>Announcements <small>Alliance-wide announcements from the brass.</small></h1>
                </div>
                
                <div class="row row-offcanvas row-offcanvas-right">
                    <div class="col-xs-12 col-sm-9">
                        <p class="pull-right visible-xs">
                            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
                        </p>
                        
                        <button type="button" class="btn btn-primary pull-right btn-sm">New Thread</button>
                        
                        <h4 style="padding-left: 16px;">Discussion Threads</h4>
                        
                        <ul class="list-group media-list">
                            <a href="/ann/its-happening" class="list-group-item media">
                                <div class="pull-right media-object text-center">
                                    <big>22</big><br><small>comments</small>
                                </div>
                                <div class="pull-right media-object text-center">
                                    <big>4</big><br><small>uploads</small>
                                </div>
                                <div class="media-body">
                                    <h4 class="list-group-item-heading">It’s happening! <small>by Draleth 2 days ago</small></h4>
                                    <p class="list-group-item-text">Written by Draleth 2 days ago — Last Comment by Draleth 4 hours ago</p>
                                </div>
                            </a>
                            <li class="list-group-item">
                                <h4 class="list-group-item-heading">List group item heading</h4>
                                <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                            </li>
                        </ul>
                    </div>

                    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
                        <h4 style="padding-left: 16px;">Sub-Forums</h4>
                        
                        <div class="list-group">
                            <a href="#" class="list-group-item">Link</a>
                            <a href="#" class="list-group-item">Link</a>
                            <a href="#" class="list-group-item">Link</a>
                        </div>
                    </div>
                </div>
                <!-- End Forum Index -->
                
                <!-- Begin Forum Thread -->
                <div class="row row-offcanvas row-offcanvas-left">
                    <div class="col-xs-3 col-sm-3"></div>
                    <div class="col-xs-9 col-sm-9">
                        <p class="small"><a href="">&larr; Back to <strong>Announcements</strong></a></p>
                    </div>
                </div>
                
                <div class="row row-offcanvas row-offcanvas-left" style="position: relative;">
                    <div class="col-xs-3 col-sm-3 text-right media" style="z-index: 2;">
                        <div class="pull-right media-object text-center">
                            <img src="http://image.eveonline.com/Character/432286394_64.jpg" style="width: 50px; height: 50px;" class="img-thumbnail img-circle">
                        </div>
                        <div class="media-body" style="padding-top: 5px;">
                            <a href=""><strong>Draleth</strong></a><br>
                            <small>7 days ago</small>
                        </div>
                    </div>
                    
                    <div class="" style="float: left; position: absolute; left: 250px; top: 0px; bottom: 0px; width: 4px; background-color: #f0f0f0; z-index: 1;"></div>
                    
                    <div class="col-xs-9 col-sm-9">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">It’s happening!</h3>
                            </div>
                            <div class="panel-body">
                                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam id dolor id nibh ultricies vehicula ut id elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                                
                                <p>Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                                
                                <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
                                
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas faucibus mollis interdum. Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row row-offcanvas row-offcanvas-left" style="position: relative;">
                    <div class="col-xs-3 col-sm-3 text-right media" style="z-index: 2;">
                        <div class="pull-right media-object text-center">
                            <img src="http://image.eveonline.com/Character/432286394_64.jpg" style="width: 50px; height: 50px;" class="img-thumbnail img-circle">
                        </div>
                        <div class="media-body" style="padding-top: 5px;">
                            <a href=""><strong>Draleth</strong></a><br>
                            <small>7 days ago</small>
                        </div>
                    </div>
                    
                    <div class="" style="float: left; position: absolute; left: 250px; top: 0px; bottom: 0px; width: 4px; background-color: #f0f0f0; z-index: 1;"></div>
                    
                    <div class="col-xs-9 col-sm-9">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p style="margin: 0">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-offcanvas row-offcanvas-left" style="position: relative;">
                    <div class="col-xs-3 col-sm-3 text-right media" style="z-index: 2;">
                        <div class="pull-right media-object text-center">
                            <img src="http://image.eveonline.com/Character/432286394_64.jpg" style="width: 50px; height: 50px;" class="img-thumbnail img-circle">
                        </div>
                        <div class="media-body" style="padding-top: 5px;">
                            <a href=""><strong>Draleth</strong></a><br>
                            <small>7 days ago</small>
                        </div>
                    </div>
                    
                    <div class="" style="float: left; position: absolute; left: 250px; top: 0px; bottom: 0px; width: 4px; background-color: #f0f0f0; z-index: 1;"></div>
                    
                    <div class="col-xs-9 col-sm-9">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p style="margin: 0">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-offcanvas row-offcanvas-left" style="position: relative;">
                    <div class="col-xs-3 col-sm-3 text-right media" style="z-index: 2;">
                        <div class="pull-right media-object text-center">
                            <img src="http://image.eveonline.com/Character/432286394_64.jpg" style="width: 50px; height: 50px;" class="img-thumbnail img-circle">
                        </div>
                        <div class="media-body" style="padding-top: 5px;">
                            <a href=""><strong>Draleth</strong></a><br>
                            <small>7 days ago</small>
                        </div>
                    </div>
                    
                    <div class="" style="float: left; position: absolute; left: 250px; top: 0px; bottom: 0px; width: 4px; background-color: #f0f0f0; z-index: 1;"></div>
                    
                    <div class="col-xs-9 col-sm-9">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p style="margin: 0">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-offcanvas row-offcanvas-left">
                    <div class="col-xs-3 col-sm-3 text-right media">
                        <div class="pull-right media-object text-center img-thumbnail img-circle" style="width: 50px; height: 50px; background-color: #f0f0f0; color: white; line-height: 50px; text-shadow: 0px -1px 2px rgba(0,0,0,0.25);">
                            <i class="fa fa-reply fa-2x"></i>
                        </div>
                    </div>
                    
                    <div class="col-xs-9 col-sm-9">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p style="margin: 0">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Forum Thread -->
                
            </div>
        </div>

        <div id="footer">
            <div class="container">
                <p class="text-muted">Place sticky footer content here.</p>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    </body>
</html>