## encoding: utf-8
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><strong>Brave</strong> <small>Forums</small></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/unread/">Unread</a></li>
                % if not web.user:
                <li><a href="/p/">Public Forum</a></li>
                % else:
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Official <i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="/ann/">Announcements</a></li>
                        <li class="divider"></li>
                        <li><a href="/council/">BRAVE Council</a></li>
                        <li><a href="/it/">Information Technology</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">CCP — EVE Online <i class="fa fa-fa-external-link"></i></li>
                        <li><a href="http://community.eveonline.com/news/news-channels/" target="_blank">News</a></li>
                        <li><a href="http://community.eveonline.com/news/dev-blogs/" target="_blank">Developer Blogs</a></li>
                        <li><a href="http://community.eveonline.com/news/patch-notes/" target="_blank">Patch Notes</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Community <i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">General</li>
                        <li><a href="/p/">Public</a></li>
                        <li><a href="/a/">Alliance</a></li>
                        <li><a href="/c/">Corporate</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Other</li>
                        <li><a href="/b/">Random</a></li>
                        <li><a href="/n/">News &amp; Media</a></li>
                        <li><a href="/g/">Geekery</a></li>
                        <li><a href="/z/">Meta</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Topic <i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">BRAVE Dojo</li>
                        <li><a href="/dg/">Guides</a></li>
                        <li><a href="/ds/">Ship Fitting</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">General</li>
                        <li><a href="/pvp/">Player-vs-Player</a></li>
                        <li><a href="/pve/">Player-vs-EVE</a></li>
                        <li><a href="/m/">Mining</a></li>
                        <li><a href="/i/">Industry &amp; Trade</a></li>
                        <li><a href="/d/">DUST 514</a></li>
                    </ul>
                </li>
                % endif
            </ul>
        
            % if False and web.user:
            <form class="form-inline navbar-form navbar-left" role="search">
                <label for="rgsearch" class="sr-only">Search all forums:</label>
                <input id="rgsearch" type="search" class="form-control" placeholder="Global search.">
            </form>
            % endif
            
            % if web.user:
            <ul class="nav navbar-nav navbar-right alice">
                <li class="dropdown" style="display: inline-block">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-adjust"></i> <i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu">
                    <%doc>
                        <li><a href="#" data-theme="custom"><i class="fa fa-circle-o fa-fw"></i>Custom Style</a></li>
                        <li class="divider"></li>
                    </%doc>
                        <li class="dropdown-header">Core Themes</li>
                        <li><a href="#" data-theme="default"><i class="fa fa${'-dot' if not web.user.theme else ''}-circle-o fa-fw"></i>Default (Bright)</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">User Themes</li>
                        <li><a href="#" data-theme="al-dark"><i class="fa fa${'-dot' if web.user.theme == 'al-dark' else ''}-circle-o fa-fw"></i>Altrue (Dark)</a></li>
                        <li><a href="#" data-theme="nj-dark"><i class="fa fa${'-dot' if web.user.theme == 'nj-dark' else ''}-circle-o fa-fw"></i>Nicen Jehr (Dark)</a></li>
                    </ul>
                </li>\
<li class="dropdown" style="display: inline-block">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> ${web.user.character.name} <i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Preferences</a></li>
                        <li class="divider"></li>
                        <li><a href="/goodbye">Sign Out</a></li>
                        <li><a href="/switch">Switch Characters…</a></li>
                    </ul>
                </li>
            </ul>
            % else:
            <a href="/authorize/" class="btn btn-default navbar-btn navbar-right"><i class="fa fa-sign-in"></i> Authenticate</a>
            % endif
        </div>
    </div>
</div>
