## encoding: utf-8

<div class="panel-group" id="style-accordion">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#style-accordion" href="#collapseOne">
                    Text Formatting
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>BB Code</th>
                            <th>Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>This text is <code>[b]</code>bold!<code>[/b]</code></td>
                            <td>This text is <strong>bold!</strong></td>
                        </tr>
                        <tr>
                            <td>This text is <code>[i]</code>emphasised!<code>[/i]</code></td>
                            <td>This text is <em>emphasised!</em></td>
                        </tr>
                        <tr>
                            <td>This text is <code>[u]</code>underlined!<code>[/u]</code></td>
                            <td>This text is <u>underlined!</u></td>
                        </tr>
                        <tr>
                            <td>This text is <code>[color=red]</code>red!<code>[/color]</code></td>
                            <td>This text is <span style="color:red">red!</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#style-accordion" href="#collapseTwo">
                    List Formatting
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>BB Code</th>
                            <th>Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <code>[list]</code><br/><code>[*]</code>one<br/><code>[*]</code>two<br/><code>[/list]</code>
                            </td>
                            <td>
                                <ul>
                                    <li>one</li>
                                    <li>two</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <code>[list=1]<br/><code>[*]</code>one</code><br/><code>[*]two]</code><br/><code>[/list]</code>
                            </td>
                            <td>
                                <ol style="list-style-type:decimal;">
                                    <li>one</li>
                                    <li>two</li>
                                </ol>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#style-accordion" href="#collapseThree">
                    URL Formatting
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>BB Code</th>
                            <th>Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <code>[url]</code>http://foo.com/s.php?some--data<code>[/url]</code>
                            </td>
                            <td>
                                <a href="http://foo.com/s.php?some--data" onclick="return false;">http://foo.com/s.php?some--data</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <code>[url=apple.com]</code>link<code>[/url]</code>
                            </td>
                            <td>
                                <a href="http://apple.com" onclick="return false;">link</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#style-accordion" href="#collapseFour">
                    Block Formatting
                </a>
            </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>BB Code</th>
                            <th>Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <code>[quote]</code><br/>testing<br/>strip<br/><code>[/quote]</code>
                            </td>
                            <td>
                                <blockquote>testing<br/>strip</blockquote>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <code>[code]</code><br/>testing<br/>strip<br/><code>[/code]</code>
                            </td>
                            <td>
                                <code>testing<br/>strip</code>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#style-accordion" href="#collapseFive">
                    Eve Formatting
                </a>
            </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>BB Code</th>
                            <th>Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <code>[System=Barleguet]</code>
                            </td>
                            <td>
                                <a href="http://evemaps.dotlan.net/system/Barleguet" target="dotlan">Barleguet</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <code>[Region=Placid]</code>
                            </td>
                            <td>
                                <a href="http://evemaps.dotlan.net/region/Placid" target="dotlan">Placid</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <code>[Character=Draleth]</code>
                            </td>
                            <td>
                                <a href="http://evewho.com/pilot/Draleth" target="evewho">Draleth</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <code>[Corporation=Brave Newbies Inc.]</code>
                            </td>
                            <td>
                                <a href="http://evewho.com/corp/Brave+Newbies+Inc." target="evewho">Brave Newbies Inc.</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <code>[Alliance=Brave Collective]</code>
                            </td>
                            <td>
                                <a href="http://evewho.com/alli/Brave+Collective" target="evewho">Brave Collective</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
