## encoding: utf-8

<%inherit file="brave.forums.template.master"/>
<%namespace name="f" file="brave.forums.template.filter"/>

<%block name="title">${thread.title} — ${forum.name}</%block>

<%block name="header">
    ${parent.header()}
</%block>

<%block name="post">
    ${parent.post()}

    <script type="text/javascript" charset="utf-8">
        $(function(){
            
            $('a#trigger-preview').on('show.bs.tab', function(e) {
                $('#preview-panel .content').empty().hide();
                $('#preview-panel .spinner').show();
                
                $.post('/preview', {content: $('#comment-message').val()}, function(result) {
                    $('#preview-panel .content').html(result).show();
                    $('#preview-panel .spinner').hide();
                }, 'html');
            });
            
            $('#comment-submit').on('click', function(){
                $(this).addClass('disabled').attr('disabled', true);
                
                $.post($('#comment-panel').attr('action'), {message: $('#comment-message').val()}, function(result){
                    if ( ! result.success ) {
                        return;
                    }
                    
                    window.location = window.location;
                });
                
                return false;
            });
            
        });
    </script>
</%block>

<%def name="render_comment(comment, post_title=None, last=False)">
<div class="row row-offcanvas row-offcanvas-left" style="position: relative;">
    <div class="col-xs-3 col-sm-3 text-right media" style="z-index: 2;">
        <div class="pull-right media-object text-center">
            <img src="http://image.eveonline.com/Character/${comment.creator.character.id}_64.jpg" style="width: 50px; height: 50px;" class="img-thumbnail img-circle">
        </div>
        <div class="media-body" style="padding-top: 5px;">
            <a href="/profile/${comment.creator.id}"><strong>${comment.creator.character.name}</strong></a><br>
            <small><time class="relative" datetime="${comment.created |n,f.iso}">${comment.created |n,f.pretty}</time></small>
        </div>
    </div>
    
    % if not last:
    <div class="" style="float: left; position: absolute; left: 250px; top: 0px; bottom: 0px; width: 4px; background-color: #f0f0f0; z-index: 1;"></div>
    % endif
    
    <div class="col-xs-9 col-sm-9">
        <div class="panel panel-default">
            % if post_title:
            <div class="panel-heading">
                <h3 class="panel-title">${post_title}</h3>
            </div>
            % endif
            <div class="panel-body">
                ${comment.message | n, f.bb}
            </div>
        </div>
    </div>
</div>
</%def>

<div class="page-header" style="margin-bottom: 10px;">
    <h1><a href="/${forum.short}/">${forum.name}</a> <small>${forum.summary}</small></h1>
</div>

<div class="row row-offcanvas row-offcanvas-left" style="margin: 10px 0;">
    <div class="col-xs-3 col-sm-3"></div>
    <div class="col-xs-9 col-sm-9">
        <ul class="nav nav-pills">
            <li><a href="/${forum.short}/"><i class="fa fa-arrow-circle-o-up fa-lg"></i> Back to <strong>${forum.name}</strong></a></li>
            % if thread.flag.locked:
            <li class="pull-right disabled"><a href="#comment-panel" class="disabled"><i class="fa fa-lock fa-lg"></i> Thread Locked</a></li>
            % else:
            <li class="pull-right" class="disabled"><a href="#comment-panel"><i class="fa fa-arrow-circle-o-down fa-lg"></i> Comment</a></li>
            % endif
        </ul>
    </div>
</div>

<%

comments = enumerate(thread.comments)
i, comment = comments.next()

%>

${render_comment(comment, thread.title, i == thread.stat.comments)}

% for i, comment in comments:
${render_comment(comment, None, i == thread.stat.comments)}
% endfor

% if web.user and not thread.flag.locked:
<div class="row row-offcanvas row-offcanvas-left" id="comment-${i}">
    <div class="col-xs-3 col-sm-3 text-right media">
        <div class="pull-right media-object text-center">
            <img src="http://image.eveonline.com/Character/${web.user.character.id}_64.jpg" style="width: 64px; height: 64px;" class="img-thumbnail img-circle">
        </div>
        <div class="media-body" style="padding-top: 12px;">
            <a href="/profile/${web.user.id}"><strong>${web.user.character.name}</strong></a><br>
            <small>right now</small>
        </div>
    </div>
    
    <div class="col-xs-9 col-sm-9">
        <div class="panel panel-default">
            <nav class="navbar navbar-default navbar-static-top" style="margin: 0; border-top-left-radius: 4px; border-top-right-radius: 4px;">
                <div class="navbar-header">
                    <span class="navbar-brand"><i class="fa fa-comments"></i> Comment</span>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#comment-panel" data-toggle="tab"><i class="fa fa-pencil-square"></i> Write</a></li>
                    <li><a id="trigger-preview" href="#preview-panel" data-toggle="tab"><i class="fa fa-check-square"></i> Preview</a></li>
                </ul>
                <button id="comment-submit" type="button" class="btn navbar-btn btn-primary navbar-right" style="margin-right: 8px;"><i class="fa fa-fw fa-check"></i> Submit Comment</button>
            </nav>

            <div class="tab-content" style="padding: 0;">
                <form class="tab-pane fade in active panel-body" id="comment-panel" action="/${forum.short}/${thread.id}" method="post" style="padding: 0;">
                    <textarea id="comment-message" class="form-control" placeholder="Leave a comment." style="border-width: 0; padding: 15px; font-size: 14px; line-height: 1.4em; border-top-left-radius: 0; border-top-right-radius: 0;" rows="5"></textarea>
                </form>
                <div class="tab-pane fade" id="preview-panel">
                    <div id="spinner" style="display: none; text-align: center; padding: 25px;"><i class="fa fa-5x fa-cog fa-spin"></i></div>
                    <div class="content" style="display: none; padding: 15px; font-size: 14px; line-height: 1.4em;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
% endif
