## encoding: utf-8

<%inherit file="brave.forums.template.master"/>
<%namespace name="f" file="brave.forums.template.filter"/>

<%block name="title">${thread.title} — ${forum.name}</%block>

<%block name="header">
    ${parent.header()}
</%block>

<%block name="post">
    ${parent.post()}
    
    <script src="/js/live.js"></script>
    
    <script type="text/javascript" charset="utf-8">
        $(function(){
        
            var thread = new Thread();
            // thread.toggle();
            
            $('a#trigger-preview').on('show.bs.tab', function(e) {
                $('#preview-panel .content').empty().hide();
                $('#preview-panel .spinner').show();
                
                $.post('/preview', {content: $('#comment-message').val()}, function(result) {
                    $('#preview-panel .content').html(result).show();
                    $('#preview-panel .spinner').hide();
                }, 'html');
            });
            
            $('#comment-submit').on('click', function(){
                var self = $(this);
                self.addClass('disabled').attr('disabled', true);
                
                $.post($('#comment-panel').attr('action'), {message: $('#comment-message').val()}, function(result){
                    if ( ! result.success ) {
                        return;
                    }
                    
                    // We would have had our own message pushed to us.  :3
                    $('#comment-message').val('');
                    self.removeClass('disabled').attr('disabled', false);
                });
                
                return false;
            });
            
            $('#jump-to-comment').on('click', function(){
                $('#comment-message').focus();
            });
        });
    </script>
</%block>

<%def name="render_comment(comment, post_title=None, last=False, i=None)">
<div class="row row-offcanvas row-offcanvas-left comment" \
% if i:
id="comment-${i}">
% else:
>
% endif
    <div class="col-xs-3 col-sm-3 text-right media">
        <div class="pull-right media-object text-center">
            <img src="http://image.eveonline.com/Character/${comment.creator.character.id}_64.jpg" class="img-thumbnail img-circle thumb-50">
        </div>
        <div class="media-body">
            <a href="/profile/${comment.creator.id}"><strong>${comment.creator.character.name}</strong></a><br>
            <small><time class="relative" datetime="${comment.created |n,f.iso}">${comment.created |n,f.pretty}</time></small>
        </div>
    </div>
    
    % if not last:
    <div class="liner"></div>
    % endif
    
    <div class="col-xs-9 col-sm-9">
        <div class="panel panel-default">
            % if post_title:
            <div class="panel-heading">
                <h3 class="panel-title">${post_title}</h3>
            </div>
            % endif
            <div class="panel-body">
                ${comment.message | n, f.bb}
            </div>
        </div>
    </div>
</div>
</%def>

<div class="page-header">
    <h1><a href="/${forum.short}/">${forum.name}</a> <small>${forum.summary}</small></h1>
</div>

<div class="row row-offcanvas row-offcanvas-left thread-actions">
    <div class="col-xs-3 col-sm-3"></div>
    <div class="col-xs-9 col-sm-9">
        <ul class="nav nav-pills">
            % if thread.flag.locked:
            <li class="pull-right disabled"><a href="#comment-panel" class="disabled"><i class="fa fa-lock fa-lg"></i> Thread Locked</a></li>
            % else:
            <li class="pull-right"><a href="#comment-panel" id="jump-to-comment"><i class="fa fa-arrow-circle-o-down fa-lg"></i> Comment</a></li>
            % endif
            <li><a href="/${forum.short}/"><i class="fa fa-arrow-circle-o-left fa-lg"></i> Back to <strong>${forum.name}</strong></a></li>
            <li class="pull-right connection-state"><a href="#" id="toggle-live">
                <i class="fa fa-lg fa-refresh fa-spin live hidden"></i>
                <i class="fa fa-lg fa-cog fa-spin connecting hidden"></i>
                <i class="fa fa-lg fa-minus disconnected"></i>
                Live
            </a></li>
        </ul>
    </div>
</div>

<%

comments = enumerate(thread.comments)
i, comment = comments.next()

%>

${render_comment(comment, thread.title, i == thread.stat.comments)}

% for i, comment in comments:
${render_comment(comment, None, i == thread.stat.comments)}
% endfor

% if web.user and not thread.flag.locked:
<div class="row row-offcanvas row-offcanvas-left" id="comment">
    <div class="col-xs-3 col-sm-3 text-right media">
        <div class="pull-right media-object text-center">
            <img src="http://image.eveonline.com/Character/${web.user.character.id}_64.jpg" class="img-thumbnail img-circle thumb-64">
        </div>
        <div class="media-body author">
            <a href="/profile/${web.user.id}"><strong>${web.user.character.name}</strong></a><br>
            <small>right now</small>
        </div>
    </div>
    
    <div class="col-xs-9 col-sm-9">
        <div class="panel panel-default">
            <nav class="navbar navbar-default navbar-static-top" >
                <div class="navbar-header">
                    <span class="navbar-brand"><i class="fa fa-comments fa-lg"></i> Comment</span>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#comment-panel" data-toggle="tab"><i class="fa fa-pencil-square"></i> Write</a></li>
                    <li><a id="trigger-preview" href="#preview-panel" data-toggle="tab"><i class="fa fa-check-square"></i> Preview</a></li>
                </ul>
                <button id="comment-submit" type="button" class="btn navbar-btn btn-primary navbar-right"><i class="fa fa-fw fa-check"></i> Submit Comment</button>
            </nav>

            <div class="tab-content">
                <form class="tab-pane fade in active panel-body" id="comment-panel" action="/${forum.short}/${thread.id}" method="post">
                    <textarea id="comment-message" class="form-control" placeholder="Leave a comment." rows="5"></textarea>
                </form>
                <div class="tab-pane fade" id="preview-panel">
                    <div id="spinner"><i class="fa fa-5x fa-cog fa-spin"></i></div>
                    <div class="content"></div>
                </div>
            </div>
        </div>
    </div>
</div>
% endif
