## encoding: utf-8

<%inherit file="brave.forums.template.master"/>

<%block name="title">Dashboard</%block>

<%block name="header">${parent.header()}</%block>

<%block name="styles"></%block>

<%block name="pre"></%block>

<%block name="post">
    ${parent.post()}

    <script type="text/javascript" charset="utf-8">
        $(function(){
        });
    </script>
</%block>

<!-- Begin Forum Index -->
<div class="page-header">
    <h1>Welcome <small>to the Brave Collective Alliance forums.</small></h1>
</div>

<div class="jumbotron">
    <p>Brave Collective utilizes several forms of communication, the forums being one of the popular spots for longer–form discussion.  There is a <a href="">public forum</a> hosted here for members of other alliances.</p>
    <p style="margin: 35px 0 0; text-align: center;">
        <a class="btn btn-primary btn-lg" href="/p/"><i class="fa fa-folder"></i> Visit the Public Forums</a>
        <em style="margin: 0 15px;">— or —</em>
        <a class="btn btn-default btn-lg" href="/authorize"><i class="fa fa-sign-in"></i> Authenticate</a>
    </p>
</div>
