html, body, #wrap, .modal-content {
  background-color: #333333;
  color: #888888;
}
  
.jumbotron {
  background-color: #dddddd;
}
  
.page-header{
  border-bottom: 1px solid #428BCA;
}
  
.list-group-item {
  background-color: #dddddd;
  border: 1px solid #888888;
}

.unread {
  background-color: #d0e2f2;
}
  
.panel-default {
  background-color: #333333;
  color: #222222;
}
  
  
.panel-default > .panel-heading {
  background-image: none;
  background-color: #444444;
  color: #dddddd;
}
  
.panel-body {
  background-color: #dddddd;
}
  
.panel-footer {
  background-color: #888888;
}
  
.like, .panel-default {
  border-color: #333333;
}
  
blockquote {
  border-left: 5px solid #888888;
}
  
.img-thumbnail {
  background-color: #aaaaaa;
  border: 1px solid #aaaaaa;
}
  
.comment > .liner, .comment-composer-edit > .liner {
  background-color: #aaaaaa;
}
  
  
.comment-composer .message, #thread-title, .thread-title {
  background-color: #dddddd;
  color: #222222;
}
  
.comment-composer .navbar-brand, .comment-composer .navbar-nav, .comment-composer .navbar-default{
  background-image: none;
  box-shadow: none;
  background-color: #444444;
  color: #dddddd;
}
  
.comment-composer .navbar-nav > .active > a {
  background-image: none;
  background-color: #428BCA;
  color: #dddddd;
}
  
.comment-composer .navbar-nav > li > a {
  background-color: #444444;
  color: #dddddd;
}
  
.comment-composer .navbar-nav > li > a:hover {
  color: #ffffff;
}

.comment-composer .nav-tabs {
  border-bottom: 1px solid #444;
}

.comment-composer .nav-tabs > li.active > a {
  background: transparent;
  border-color: #444 #444 transparent;
}

.comment-composer .nav-tabs > li > a:hover {
  border-color: #444 #444 #444;
}
  
.comment-composer .preview-panel {
  background-color: #dddddd;
}

.nav.alice .dropdown-header { padding-left: 29px; }
.nav.alice a[data-theme] { padding-left: 8px; }
.nav.alice a[data-theme] i { margin-right: 3px; }

#discuss.modal .modal-header a.disabled { background-color: transparent; color: #999; border-color: #333 #333 transparent; }
